/*Configurações Gerais*/
*{
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

button{
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: rgb(231, 231, 231);
}

input{
    text-align: center;
    margin-bottom: 5px;
}

table{
    font-size: 14px;
}

/*Cabeçalho*/
@media only screen and (min-width: 601px){
    header h1{
        font-size: 24px;
        font-weight: bold;
        color: rgb(212, 194, 24);
    }
}

@media only screen and (max-width: 600px){
    header h1{
        font-weight: bold;
        color: rgb(212, 194, 24);
        font-size: 18px;
    }
}

header{
    display: flex;
    height: 10vh;
    background-color: rgb(23, 5, 66);
}

/*Corpo*/
main{
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: white;
}

#roll{
    text-align: center;
}

@media only screen and (min-width: 421px){
    #caixaResultado{
        display: flex;
        width: 400px;
        height: 80px;
        background-color: white;
        border-style: solid;
        border-width: 0.1px;
        border-radius: 10px;
        margin-top: 25px;
    }

    .rolagemFinal{
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    #resultado{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: black;
    }
}

@media only screen and (max-width: 420px){
    #caixaResultado{
        display: flex;
        width: 300px;
        height: 80px;
        background-color: white;
        border-style: solid;
        border-width: 0.1px;
        border-radius: 10px;
        margin-top: 25px;
    }

    .rolagemFinal{
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    #resultado{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: black;
    }
}

@media only screen and (max-width: 500px){
    .textoBase{
        font-size: 12px;
    }

    #maiorFrase{
        font-size: 11px;
    }
}

.dados{
    width: 213px;
}

.quantMod{
    display: flex;
    flex-direction: column;
}

/*Rodapé*/
footer{
    height: 10vh;
    background-color: rgb(23, 5, 66);
    display: flex;
}

@media only screen and (min-width: 421px){
    footer p{
        font-size: 14px;
        color: rgb(212, 194, 24);
    }
}

@media only screen and (max-width: 420px){
    footer p{
        font-size: 10px;
        color: rgb(212, 194, 24);
    }
}